@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1D1F40;
  --background-purple: #40215A;
}

body {
  color: #fff;
  background: radial-gradient(
      var(--background-purple),
      var(--foreground)
    );
  width: 100vw;
  height: 100vh;
}
